/* Imported styles.css */
@import url('../dashboard/styles.css');

/* Default colors */
:root{
    --deep-navy: #1E293B;
    --Slate: #F8FAFC;
    --Emerald: #10B981;
    --Rose: #F43F5E;
    --gray: #595959;
    --light-gray: #eee;
    --red: darkred;
    --green: green;
}

.header-subtitle{
    width: 80%;
}

/* Categories */
.categories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

.category{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--gray);
    background-color: #fff;
}

.category i{
    padding: 16px;
    border-radius: 50%;
    font-size: 18px;
}

.category:first-child i{
    color: var(--red);
    background-color: var(--Rose);   
}

.category:nth-child(2) i{
    color: var(--gray);
    background-color: var(--light-gray);
}

.category:nth-child(3) i{
    color: var(--green);
    background-color: var(--Emerald);
}

.category:last-child i{
    color: var(--gray);
    background-color: var(--deep-navy);
}

.category-title{
    font-size: 24px;
    font-weight: bold;
}

.category-subtitle{
    font-size: 14px;
    font-weight: bold;
    color: var(--gray);
}

.category-num{
    font-size: 32px;
    font-weight: bold;
}

.category:nth-child(3) .category-num{
    color: var(--green);
}

/* Responsiveness */
@media (max-width: 1000px){
    .category-title{
        font-size: 20px;
    }

    .category-subtitle{
        font-size: 12px;
    }

    .category-num{
        font-size: 24px;
    }
}

@media (max-width: 650px){
    .categories{
        gap: 24px;
    }

    .category{
        width: 180px;
    }

    .category-title{
        font-size: 16px;
    }

    .category-subtitle{
        font-size: 10px;
    }

    .category-num{
        font-size: 20px;
    }
}