/* Imported the "inter" font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Default colors */
:root{
    --deep-navy: #1E293B;
    --Slate: #F8FAFC;
    --Emerald: #10B981;
    --Rose: #F43F5E;
    --gray: #595959;
    --light-gray: #eee;
    --red: darkred;
    --green: green;
}

*{
    padding: 0;
    margin: 0;      /*Page's margin is 40px*/
    box-sizing: border-box;
    font-family: 'inter';
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Sidebar */
.sidebar-container{
    width: 300px;
    padding: 15px;
    border-right: 1px solid var(--gray);
    position: sticky;
    top: 0;
    height: 100vh; 
    overflow-y: auto;
}

.sidebar-title{
    font-size: 24px;
    margin-bottom: 32px;
    text-align: center;
}

/* Profile */
.profile-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    margin-bottom: 24px;
}

.sidebar-profile-img{
    width: 58px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-balance-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.sidebar-balance-title{
    color: var(--gray);
    font-size: 15px;
}

.sidebar-balance{
    color: var(--deep-navy);
    font-size: 20px;
    font-weight: bold;
}

/* Sidebar Btn */
.sidebar-add-btn{
    width: 100%;
    height: 50px;
    background-color: var(--deep-navy);
    color: var(--Slate);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--deep-navy);
    cursor: pointer;
    transition: color .5s,
                backgroundColor .5s;
    margin-bottom: 50px;
}

.sidebar-add-btn:hover{
    background-color: var(--Slate);
    color: var(--deep-navy);
}

/* Sidebar Menu */
.sidebar-options-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sidebar-option{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: backgroundColor .5s;
}

.sidebar-option:hover{
    background-color: var(--Emerald);
    opacity: .8;
}

.sidebar-option-link{
    text-decoration: none;
    color: var(--deep-navy);
    font-size: 16px;
}

.sidebar-option-link i{
    margin-right: 10px;
    font-size: 18px;
}

/* Content */
.content{
    width: 100%;
    min-height: 100vh;
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    background-color: var(--Slate);
}

/* Header */
header{
    width: 100%;
    min-height: 80px;
    position: relative;
}

.header-page-name{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
}

.header-subtitle{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--gray);
    font-size: 16px;
}

.header-balance-label{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray);
    font-weight: bold;
    font-size: 15px;
}

.header-balance{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 35px;
}

/* Content's Parts */
.content-parts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Quick Entry */
.quick-entry-container{
    width: 40%;
    height: 450px;
    padding: 32px;
    box-shadow: 0 0 5px var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
}

.qe-title{
    font-size: 22px;
    margin-bottom: 44px;
}

.qe-desc-label, .qe-amount-label, .qe-type-label, .qe-category-label{
    font-size: 15px;
    color: var(--gray);
    margin-bottom: 8px;
    font-weight: bold;
}

.qe-desc-input{
    height: 40px;
    width: 100%;
    background-color: var(--Slate);
    padding: 4px;
    font-size: 14px;
    box-shadow: 0 0 2px var(--gray);
    border-radius: 8px;
    border: none;
    margin-bottom: 12px;
}

.qe-inputs-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    margin: 12px 0;
}

.qe-inputs-container div{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.qe-amount-label, .qe-type-label{
    margin-bottom: 0;
}

.qe-amount-input, .qe-type-select, .qe-category-select{
    height: 40px;
    width: 65%;
    background-color: var(--Slate);
    padding: 4px;
    font-size: 14px;
    box-shadow: 0 0 2px var(--gray);
    border-radius: 8px;
    border: none;
}

.qe-category-select{
    height: 40px;
    width: 100%;
    background-color: var(--Slate);
    padding: 4px;
    font-size: 14px;
    box-shadow: 0 0 2px var(--gray);
    border-radius: 8px;
    border: none;
    margin-bottom: 36px;
}

/* QE Add Btn */
.qe-add-btn{
    width: 100%;
    height: 50px;
    background-color: var(--deep-navy);
    color: var(--Slate);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--deep-navy);
    cursor: pointer;
    transition: color .5s,
                backgroundColor .5s;
}

.qe-add-btn:hover{
    background-color: var(--Slate);
    color: var(--deep-navy);
}

/* Chart */
.chart-container{
    width: 58%;
    height: 450px;
    padding: 32px;
    box-shadow: 0 0 5px var(--gray);
    border-radius: 8px;
    background-color: #fff;
}

/* Chart's Header */
.chart-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.chart-title{
    font-size: 22px;
}

/* Chart's Options */
.chart-options{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    gap: 4px;
    border-radius: 8px;
    padding: 4px;
}

.chart-option{
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    color: var(--deep-navy);
    text-decoration: none;
    height: 80%;
    transition: backgroundColor 0.3s;
}

.chart-option:hover{
    background-color: #fff;
}

/* Chart's Body */
.chart-body{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

/* Transactions */
.transactions-container{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--gray);
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.transactions-title{
    font-size: 22px;
    margin: 32px;
}

.transactions-table{
    width: 100%;
}

.transactions-table th{
    border-top: 1px solid var(--gray);
    padding: 12px 8px;
    text-align: left;
    background-color: var(--light-gray);
    color: var(--gray);
}

.transactions-table td{
    border-top: 1px solid var(--gray);
    padding: 12px 8px;
    text-align: left;
}

.transactions-table td:nth-child(2){
    color: var(--gray);
}

.td-category{
    background-color: var(--light-gray);
    padding: 4px 8px;
    display: inline;
    border-radius: 8px;
}

.td-amount{
    color: var(--red);
    font-weight: bold;
}

/* Responsiveness */
@media (min-width: 1000px) and (max-width: 1100px){
    /* Sidebar */
    .sidebar-container{
        width: 250px;
    }

    .sidebar-title{
        font-size: 20px;
    }

    .sidebar-profile-img{
        height: 55px;
    }

    .sidebar-add-btn, .sidebar-option-link{
        font-size: 14px;
    }

    .header-balance-label{
        top: 20px;
        font-size: 16px;
    }

    .header-page-name, .header-balance{
        font-size: 24px;
    }

    .header-subtitle{
        font-size: 16px;
    }

    /* Chart */
    .chart-option{
        padding: 4px;
    }
}

@media(max-width: 1000px){
    /* Sidebar */
    .sidebar-container{
        width: 200px;
    }

    .sidebar-title{
        font-size: 20px;
    }

    .sidebar-profile-img{
        height: 45px;
    }

    .sidebar-add-btn{
        font-size: 14px;
    }

    .sidebar-option-link{
        font-size: 14px;
    }

    /* Header */
    .header-page-name{
        font-size: 24px;
        top: 10px;
    }

    .header-subtitle{
        font-size: 14px;
    }

    .header-balance-label{
        top: 20px;
    }

    .header-balance{
        font-size: 20px;
    }

    /* Quick Entry */
    .quick-entry-container{
        width: 100%;
        margin-bottom: 24px;
    }

    .qe-title{
        font-size: 20px;
    }

    .qe-inputs-container{
        width: 75%;
    }

    /* Chart */
    .chart-container{
        width: 100%;
    }

    .chart-title{
        font-size: 18px;
        width: 50%;
    }
    
    .chart-option{
        padding: 4px;
        font-size: 12px;
    }

    .transactions-title{
        font-size: 20px;
    }
}

@media (max-width: 650px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    /* Sidebar */
    .sidebar-container{
        position: relative;
        width: 100%;
        height: auto;
        padding: 16px;
        border-bottom: 1px solid var(--gray);
    }

    .sidebar-title{
        font-size: 28px;
    }

    .sidebar-profile-img{
        width: 50px;
    }

    .sidebar-balance-title, .sidebar-balance{
        font-size: 16px;
    }

    .sidebar-add-btn{
        font-size: 14px;
        margin-bottom: 20px;
    }

    .sidebar-option-link{
        font-size: 12px;
    }

    .content{
        padding: 16px;
    }

    /* Header */
    .header-page-name{
        font-size: 18px;
        top: 20px;
    }

    .header-subtitle{
        font-size: 12px;
        width: 60%;
    }

    .header-balance-label{
        font-size: 14px;
    }

    .header-balance{
        font-size: 18px;
    }

    /* Quick Entry */
    .qe-title{
        font-size: 18px;
    }

    .qe-amount-label, .qe-type-label, .qe-category-label, .qe-desc-label{
        font-size: 14px;
    }

    .qe-add-btn{
        font-size: 14px;
    }

    /* Chart */
    .chart-title{
        font-size: 18px;
    }

    /* Transactions */
    .transactions-title{
        font-size: 18px;
    }

    .transactions-table th, .transactions-table tr{
        font-size: 12px;
    }
}


/* Modal */
.modal{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-navy);
    color: #fff;
    opacity: .95;
    z-index: 5;

    display: none;
}

/* Close Modal Btn */
.close-modal-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal-btn:hover{
    cursor: pointer;
}

.close-modal-btn i{
    font-size: 32px;
    color: var(--light-gray);
}


.modal-container{
    width: 40%;
    height: 450px;
    padding: 32px;
    box-shadow: 0 0 5px var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    left: 30%;
    top: 100px;
}

.modal-title{
    font-size: 22px;
    margin-bottom: 44px;
    color: var(--deep-navy);
}

.modal-desc-label, .modal-amount-label, .modal-type-label, .modal-category-label{
    font-size: 15px;
    color: var(--gray);
    margin-bottom: 8px;
    font-weight: bold;
}

.modal-desc-input{
    height: 40px;
    width: 100%;
    background-color: var(--Slate);
    padding: 4px;
    font-size: 14px;
    box-shadow: 0 0 2px var(--gray);
    border-radius: 8px;
    border: none;
    margin-bottom: 12px;
}

.modal-inputs-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    margin: 12px 0;
}

.modal-inputs-container div{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.modal-amount-label, .modal-type-label{
    margin-bottom: 0;
}

.modal-amount-input, .modal-type-select, .modal-category-select{
    height: 40px;
    width: 65%;
    background-color: var(--Slate);
    padding: 4px;
    font-size: 14px;
    box-shadow: 0 0 2px var(--gray);
    border-radius: 8px;
    border: none;
}

.modal-category-select{
    height: 40px;
    width: 100%;
    background-color: var(--Slate);
    padding: 4px;
    font-size: 14px;
    box-shadow: 0 0 2px var(--gray);
    border-radius: 8px;
    border: none;
    margin-bottom: 36px;
}

/* Modal Add Btn */
.modal-add-btn{
    width: 100%;
    height: 50px;
    background-color: var(--deep-navy);
    color: var(--Slate);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--deep-navy);
    cursor: pointer;
    transition: color .5s,
                backgroundColor .5s;
}

.modal-add-btn:hover{
    background-color: var(--Slate);
    color: var(--deep-navy);
}

/* Responsiveness for Modal */
@media (max-width: 1000px){
    .modal-container{
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 650px){
    /* Modal */
    .close-modal-btn i{
        font-size: 20px;
    }

    .modal-container{
        width: 60%;
        padding: 20px;
        left: 20%;
    }

    .modal-title{
        font-size: 18px;
    }

    .modal-amount-label, .modal-type-label, .modal-category-label, .modal-desc-label{
        font-size: 14px;
    }

    .modal-add-btn{
        font-size: 14px;
    }
}